.saved {
    background-color: white;
}
  
.article__content {
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding-top: 40px;
    padding-bottom: 56px;
    padding-left: 104px;
    max-width: 530px;
}
  
.article__title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(26, 27, 34, 0.5);
}
  
.article__info {
    margin: 0;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    color: rgba(26, 27, 34, 1);
    max-width: 530px;
}
  
.article__keywords {
    display: flex;
    align-items: center;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 1);
    height: 24px;
}
  
@media screen and (max-width: 768px) {
    .saved {
        padding-top: 24px;
        padding-bottom: 32px;
    }
  
    .article__content {
        gap: 16px;
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 40px;
    }
  
    .article__title {
        font-size: 14px;
        max-width: 336px;
    }
  
    .article__info {
        font-size: 30px;
        line-height: 34px;
        max-width: 336px;
    }
}
  
  @media screen and (max-width: 480px) {
    .saved {
        padding-top: 8px;
        max-width: 320px;
    }
  
    .article__content {
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 16px;
        max-width: 288px;
    }
  
    .article__info {
        margin-bottom: 34px;
        max-width: 288px;
    }
  
    .article__keywords {
        margin: 0;
    }
}