.main {
    margin: 0;
}

.main__search-content {
    display: flex;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: column;
}
  
.main__title {
    color: black;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    margin: auto;
    margin-top: 80px;
    max-width: 608px;
    max-height: 128px;
    width: 100%;
}
  
.main__description {
    color: black;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: auto;
    margin-top: 32px;
    max-width: 608px;
    max-height: 24px;
}
  
.main__about {
    max-width: 1440px;
}
  
@media screen and (max-width: 1024px) {
    .main {
        max-width: 1024px;
        background-position: top;
        background-size: inherit;
    }
  
    .main__title {
        max-width: 385px;
        max-height: 80px;
        margin: 0 auto;
        padding: 38px 200px 0 160px;
        font-size: 36px;
        line-height: 40px;
    }
  
    .main__description {
        max-width: 452px;
        max-height: 48px;
        margin: 0 auto;
        padding: 16px 156px 0 160px;
        font-size: 17px;
        line-height: 24px;
    }
}
  
@media screen and (max-width: 768px) {
    .main {
        max-width: 768px;
        background-size: inherit;
        background-position: top;
        background-repeat: no-repeat;
    }
  
    .main__title {
        max-width: 385px;
        max-height: 80px;
        margin: 0 auto;
        padding: 30px 16px 0 19px;
        font-size: 36px;
        line-height: 40px;
    }
    .main__description {
        max-width: 452px;
        max-height: 72px;
        margin: 0 auto;
        padding: 16px 16px 0;
        font-size: 18px;
        line-height: 24px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main {
        max-width: 480px;
        background-size: inherit;
        background-position: top;
        background-repeat: no-repeat;
    }
  
    .main__title {
        max-width: 285px;
        max-height: 80px;
        margin: 0;
        padding: 30px 16px 0 19px;
        font-size: 36px;
        line-height: 40px;
    }
    .main__description {
        max-width: 288px;
        max-height: 72px;
        margin: 0 auto;
        padding: 16px 16px 0;
        font-size: 18px;
        line-height: 24px;
    }
}