.about {
    display: flex;
    background-color: #fff;
    max-width: 1440px;
    padding: 80px 104px;
    margin: 0;
}
  
.about__image {
    width: 464px;
    height: 464px;
    border-radius: 50%;
}
  
.about__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
    margin-left: 56px;
}
  
.about__title {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
}
  
.about__description {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 600px;
}
  
@media screen and (max-width: 1024px) {
    .about {
        max-width: 1024px;
        padding: 60px;
    }
  
    .about__content {
        margin-right: 0;
        margin-left: 44px;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        line-clamp: 12;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  
    .about__title {
        max-width: 424px;
        font-size: 30px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
  
    .about__description {
        max-width: 424px;
        margin-top: 0;
    }
  
    .about__image {
        max-width: 348px;
        max-height: 348px;
    }
}
  
@media screen and (max-width: 768px) {
    .about {
        max-width: 767px;
        padding: 40px 40px;
    }
  
    .about__content {
        margin-left: 32px;
    }
  
    .about__description {
        margin-bottom: 128px;
        max-height: 168px;
    }
  
    .about__image {
        max-width: 232px;
        max-height: 232px;
    }
}
  
@media screen and (max-width: 480px) {
    .about {
        flex-direction: column;
        padding: 32px 16px;
    }
  
    .about__title {
        margin-top: 24px;
    }
  
    .about__content {
        max-width: 288px;
        margin: auto;
    }
  
    .about__image {
        max-width: 272px;
        max-height: 272px;
        margin: auto;
    }
}